h1 {
  font-weight: bold;
  font-family: Jenson, Baskerville, Cambria, Serif;
}

header h1,h2 {
font-weight: bold;
font-family: Jenson, Baskerville, Cambria, serif;
font:small-caps bold 2.5em/1.25em Georgia,serif;
text-align:center;
text-shadow:7px 1px 3px white;
}


body {
  background-image: url('https://i.pinimg.com/564x/0a/ba/40/0aba409f8e3907af5f0991567ce6b186.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Pseudo-class Selector */
h1:hover {
  color: #FF69B4;
}
.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Adjusted property */
}


img {
  display: inline-block;
  width: 500px;
  height: 500px;
  vertical-align: middle;
  border-radius: 15px;
  margin: 0.5px; /* Adjusted margin */
}

a {
  margin: 0 10px;
  display: block;
  color: green;
}

header{
  font-weight: bold;
  color: green;
  font-family: Jenson, Baskerville, Cambria, serif;
  font: small-caps bold 2.5em/1.25em Georgia, serif;
  text-align: center;
  text-shadow: 7px 1px 3px white;
}

.container {
  text-align: center;
}


.sizeManipulation:hover {
  font-size: 21px;
  font-weight: bold;
  color: #FF69B4;
}
